<div class="admin-layout">
    <main class="admin-content">
        <router-outlet></router-outlet>
    </main>

    <nav class="admin-bottom-bar">
        <a routerLink="/admin/films" routerLinkActive="active">Manage Films</a>
        <a routerLink="/admin/hall" routerLinkActive="active">Manage Halls</a>
        <a routerLink="/admin/genres" routerLinkActive="active">Manage Genres</a>
        <a routerLink="/admin/actors" routerLinkActive="active">Manage Actors</a>
        <a routerLink="/admin/directors" routerLinkActive="active">Manage Directors</a>
        <a routerLink="/admin/cinema-service" routerLinkActive="active">Manage Services</a>
        <a routerLink="/admin/screenings" routerLinkActive="active">Manage Screenings</a>
    </nav>
</div>